*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
}

header{
    background-color: red;
    align-items: center;
    justify-content: space-around;
}
h1{
    display: flex;
    text-align: center

}

.logo{
    width: ;
    margin: 15px;
    padding: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #a12e2a;
    color: white;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #ddd;
}
.container {
    display: flex;
    width: 80%;
    margin-top: 20px;
}
.texto {
    flex: 1;
    padding: 20px;
}
.foto {
    
    flex: 1;
    text-align: center;
}
.foto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}